body{
	font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
	overflow-y: hidden;
	overflow-x: hidden;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > thead > tr > td > div > table > thead > tr{
	background-color: #5C5C60;
	color:#fff;
}

#room-calendar-dashbord > div.fc-toolbar.fc-header-toolbar > div.fc-left > h2{
	display: contents;
	font-size: 18px;
}
#room-calendar-dashbord > div.fc-toolbar.fc-header-toolbar > div.fc-left > button{
	height: 25px;
	padding-top: 0px;
	text-transform: capitalize;
	background-color: #67a5c1;
	border: #67a5c1;
}
#room-calendar-dashbord > div.fc-toolbar.fc-header-toolbar > div.fc-left > div > button.fc-prev-button.fc-button.fc-button-primary{
	height: 25px;
	padding-top: 0px;
	background-color: #67a5c1;
	border: #67a5c1;
}
#room-calendar-dashbord > div.fc-toolbar.fc-header-toolbar > div.fc-left > div > button.fc-next-button.fc-button.fc-button-primary{
	height: 25px;
	padding-top: 0px;
	background-color: #67a5c1;
	border: #67a5c1;
}

.fc-header-toolbar{
	margin-bottom: 5px !important;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-day-grid > div > div.fc-bg > table > tbody > tr{
	display: none;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(1){
	display: none;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(2){
	display: none;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(3){
	display: none;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(4){
	display: none;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(5){
	display: none;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(6){
	display: none;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(7){
	display: none;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(8){
	display: none;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(9){
	display: none;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(10){
	display: none;
}

#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(11){
	display: none;
}
#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(12){
	display: none;
}
#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(13){
	display: none;
}
#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(14){
	display: none;
}
#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(15){
	display: none;
}
#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(16){
	display: none;
}
.fc-day-grid{
	display: none;
}
#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(44){
	display: none;
}
#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(45){
	display: none;
}
#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(46){
	display: none;
}
#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(47){
	display: none;
}
#room-calendar-dashbord > div.fc-view-container > div.fc-view.fc-resourceTimeGridDay-view.fc-timeGrid-view > table > tbody > tr > td > div.fc-scroller.fc-time-grid-container > div > div.fc-slats > table > tbody > tr:nth-child(48){
	display: none;
}

.day-view-filters-div{
	position: fixed;
	margin-left: auto;
	right: 0px;
}

.header_location{
	height: 25px;
}
.header_services{
	height: 25px;
}
.header_gender{
	height: 25px;
}
.room-bmk-event{
	background:#996699 !important;
	color: #fff;
	border: 1px #996699;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
	font-size: 12px;
}
.room-bmk-appointment{
	background: #31649d !important;
	color: #fff;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
	font-size: 12px;
}
.swatch{
	padding: 7px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	margin-left: 5px;
	border: 2px solid #313131;
	height: 13px;
	padding-top: 0px;
}
.legendTools{
	display: flex;
    position: fixed;
    margin-left: 333px;
}