.o_web_client .badge {
    border: none;
    color: black;
    font-weight: 600;
}

.o_web_client .o_action_manager .o_action>.o_content .o_form_view .o_horizontal_separator {
    color: #1d2939;
    font-weight: 500;
}

.pos_order_btm_div_apt {
    // margin-bottom: 0px;
    // position: absolute;
    // right: 0;
    // margin-top: 105px;
}

.pos_order_btm_div_apt button{
    margin-right: 5px;
}