#BookingActivityLoaderCalendar {
    justify-content: center;
    background-image: url(/ppts_website_theme/static/src/img/Ghost.gif);
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 4px solid #2aaec7;
}

.leftmenu-main {
    background: #00acc7;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0px;
    background-color: #fff;
    overflow: hidden;
    transition: 1s;
    border-right: 1px solid #ccc;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;

}

.main-page-wrapper {
    display: grid;
    grid-template-columns: 90px 1fr;
}

.logo-container-main {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.logo-container-main img {
    width: 40px;
    margin: auto;

}

ul.menulist-leftmain {
    padding: 0;
    margin: 0;
}

.menulist-leftmain li:hover {
    background: #0097af;
}

.menulist-leftmain li {
    padding: 16px 5px;
    text-align: center;
    font-size: 12px;
    color: white;

    cursor: pointer;
}

.menulist-leftmain li a {
    display: block;
}

.menulist-leftmain li img {
    width: 35px;
}

.menulist-leftmain span {
    display: block;
    margin-top: 4px;
}

.sidenav.menuactive {
    width: 350px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.right-sidemain.menuopened {
    position: relative;
    /* margin-left: 350px;.eventresource-wrapper .leftmenuwave */
    transition: 1s;
    background: #fff;
    z-index: 1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.right-sidemain {
    transition: 1s;
    position: relative;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.tooglebtn {
    cursor: pointer;
    position: absolute;

    z-index: 1;
    border-radius: 0px 20px 20px 0px;
    left: 0px;
    background: #17a2b8;

    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 29px;
    color: #fff;
}

.resourcecalendar-header-one-right {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: inline-block;

    width: 100%;
}

.resourcecalendar-header-one-innerrleft {
    display: inline-flex;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    gap: 10px;
}

.resourcecalendar-header-one-innerrright {
    display: block;
    float: left;
    gap: 16px;
    align-items: center;
}

.resourcecalendar-header-one-innerrright {
    float: right;
}

.resourcecalendar-header-one-right>div select {
    max-width: 120px;
    min-width: 100px;
}

.resourcecalendar-header-one-innerrright .inputwrap {
    display: inline-block;
    margin-left: 4px;
}

.eventresource-wrapper {
    transition: 0.5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    display: grid;
    grid-template-columns: auto 1fr;
    border-top: 4px solid #2aaec7;
}

.resourcecalendar-header-one-right .btngrp .btn {
    padding: 6px 10px;
    font-size: 13px;
}

.eventresource-wrapper .datepicker table.table-condensed td {
    padding: 2px;
    border-radius: 4px;
    width: 10px !important;
}

.eventresource-wrapper .datepicker .table-condensed {
    width: 100%;
    font-size: 10px;
}



.borderedbtn {
    background: transparent;
    border: 2px solid #00AEC7;
    color: #00AEC7 !important;
    margin: 4px;
    min-width: 200px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .2s;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.borderedbtn:hover {
    background: #E0F3F9;
}

.fullbutton {
    background: #00AEC7;
    border: 2px solid #00AEC7;
    color: #fff !important;
    margin: 4px;
    min-width: 200px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .2s;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;

}

.fullbutton:hover {
    background: #02a2b9;
}

.fullbutton b i {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}


.full-blue-btn-popup {
    background: #00AEC7;
    width: 100%;
    max-width: 380px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.full-blue-btn-popup:hover {
    background: #0591a5;
}


.eventresource-wrapper .datepicker {
    max-width: 200px;
    padding: 5px 10px;
    min-width: 100px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #f0f0f0;
    border-radius: 0px;

}

.datepickercontainer .datepickerinner {
    height: 0;
    visibility: hidden;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    opacity: 0;
}

.datepickercontainer.opendatepicker .datepickerinner {
    height: auto;
    visibility: visible;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    opacity: 1;

}

.eventresource-wrapper .datepicker table.table-condensed .prev,
.eventresource-wrapper .datepicker table.table-condensed .datepicker-switch,
.eventresource-wrapper .datepicker table.table-condensed .next {
    padding: 5px 0px 5px;
    text-align: center;
}

.date-picker-container {
    display: inline-block;
    width: 100%;
}

.day {
    cursor: pointer;
    text-align: center;
}

.active.day {
    background: #93ebf6;
}

.today.day {
    background: #e5fcff;
}

.eventresource-wrapper .datepicker table.table-condensed .dow {
    padding: 5px 0px 5px;
}

.eventresource-wrapper .leftmenuwave {
    /* padding: 10px; */

    height: 85vh;
    padding-bottom: 40px;
    overflow-y: auto;
    position: relative;
    /* position: fixed;
    width: 100%;
    max-width: 350px; */

    /* position: fixed;
    width: 350px; */
}

.eventresource-wrapper .calendar-header-one {
    /* justify-content: flex-end; */
    padding: 10px 20px 4px 40px;
}

.eventresource-wrapper .calendar-weeklybutton {
    margin: 0px;
}

.eventresource-wrapper .fc-unthemed .fc-divider,
.eventresource-wrapper .fc-unthemed .fc-list-heading td,
.eventresource-wrapper .fc-unthemed .fc-popover .fc-header {
    background: #eee0;
    border: 0;
}

.eventresource-wrapper .fc-time-grid-container {
    height: auto !important;
}

.eventresource-wrapper span.month,
.eventresource-wrapper span.year {
    height: 24px;
    line-height: 24px;
}

.fc .fc-axis {
    font-size: 12px;
}

.fc-highlight {
    background: #00d400;
}

.display-none {
    display: none;
}

.datepickercontainer {
    border-bottom: 3px solid #f0f0f0;
}

.datepickercontainer .dateheader {
    display: block;
    background: #f0f0f0;
    padding: 4px 10px;
    font-size: 12px;
    color: #333;
}

.datepickerinner {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* padding: 10px; */
}

.btmfixedbar {
    position: fixed;
    bottom: 0;
    padding: 4px 10px;
    background: #fff;
    left: 90px;
    right: 0;
    box-shadow: 0px 0px 6px 0px #3b3b3b2b;
    -webkit-box-shadow: 0px 0px 6px 0px #3b3b3b2b;
    max-width: 349px;
}

.coloredboxcont {
    gap: 6px;
    padding: 8px 0px;
    justify-content: left;
    border-top: 2px solid #ddd;
    margin-top: 5px;
}

.colorbox:first-child {
    margin-left: 1px;
}

.colorbox {
    background-color: rgb(0, 100, 0);
    color: #fff;
    line-height: 20px;
    text-align: center;
    width: 25px;
    height: 27px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: 0;
    text-shadow: 0 0 5px rgb(0 0 0 / 90%);
    opacity: 1;
    margin-right: 4px;
    font-weight: 600;
    float: left;
    border-radius: 3px;
}

.colorbox-avail {
    color: #fff;
    line-height: 20px;
    text-align: center;
    width: 25px;
    height: 27px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: 0;
    text-shadow: 0 0 5px rgb(0 0 0 / 90%);
    opacity: 1;
    margin-right: 4px;
    font-weight: 600;
    float: right;
    border-radius: 3px;
}

.eventresource-wrapper_calendar-wrapper .calendar-header-one-right {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
}

.calendernextpreviewbtns {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.currentCalendarWeekRange {
    white-space: nowrap;
}

.eventresourcegridcalendar {
    /* max-height: calc(100vh - 100px);
    overflow: auto; */

    height: calc(100vh - 120px);
    overflow-y: auto;
}

.bs-popover-auto,
.bs-popover-right {
    z-index: 10;
}

.eventresource-wrapper .inputwrap {
    width: auto;
    min-height: 34px;
    position: unset;
    max-height: 34px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
}

.eventresource-wrapper .inputwrap .btn {

    padding: 3px 8px;
    /* padding-right: 30px; */
    position: relative;
    font-size: 13px;
    height: 100%;
    margin: 0;
}

.eventresource-wrapper .inputwrap .dropdown-menu label {
    margin: 0;
}

.eventresource-wrapper .inputwrap .dropdown-menu {
    width: auto;
}

.eventresource-wrapper .inputwrap .dropdown-menu a label input {
    margin-right: 4px;
}

.eventresource-wrapper .inputwrap .dropdown-menu a {
    font-size: 13px;
    padding: 4px 8px;
}

.mystyle {
    height: 0;
    overflow: hidden;
}

.eventresource-wrapper .form-container {
    padding: 10px;
}

.eventresource-wrapper .form-control {
    min-height: 30px;
    padding: 2px 5px;
    font-size: 13px;

}

.form-group {
    margin-bottom: 10px;
}

.esourcecalformbtn button {
    display: inline-block;
    width: auto;
    min-width: 1px;

    padding: 4px 16px;

    font-size: 14px;
    min-height: 34px;

}

.tooltip-template {
    background: #fff;
}

.popoverlist {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px #989898;
    -webkit-box-shadow: 0px 2px 5px 0px #989898;
    padding: 8px 10px;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    z-index: 99;
}

.popoverlist li {
    margin-bottom: 6px;
}

.popoverlist li a {
    display: inline-block;
    padding: 6px 8px;
    font-size: 14px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    width: 100%;
}

.popoverlist li a i {
    margin-right: 8px;
}

.popoverlist li a:hover {
    text-decoration: none;
    background: #e5fcff;
}

.popoverlist li:first-child {
    position: absolute;
    right: -10px;
    top: -10px;
    margin: auto;
    /* padding: 4px; */
    border-radius: 50%;
    overflow: hidden;
}

.popoverlist li:first-child a {
    padding: 3px;
    border-radius: 50%;
    background: #d1d1d1;
    width: 26px;
    height: 26px;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.popoverlist li:first-child a i {
    margin-right: 0px;
}

.fc-content {
    color: #fff;
}

.tooltip-template {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px #989898;
    padding: 4px;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    z-index: 99;
    font-size: 14px;
}

.tooltip-header-event {
    padding: 4px 10px;
    border-radius: 6px 6px 0px 0px;
    background: #e5fcff;
}

.tooltip-body {
    padding: 10px;
    font-size: 14px;
}

.calendarresourceheaderdrop {
    position: unset;
}

.calendarresourceheaderdrop .dropdown-item {
    box-sizing: border-box !important;
    padding: 4px 8px;
    font-size: 12px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.calendarresourceheaderdrop label {
    margin-bottom: 0;
}

.calendarresourceheaderdrop .dropdown-item:hover {
    text-decoration: none;
    background: #e5fcff;
}

.dropdown-menu {
    padding: 8px 8px;
}

.resource-header-title-container {
    display: inline-block;
    /* margin-left: 6px; */
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    padding: 0px 4px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    float: right;
}

.resource-header-title-container:hover {
    background: #cbeef3;
    border-radius: 2px;
}

.resource-header-title-container #dropdownMenuButton {
    width: 100%;
    display: inline-block;
    height: 100%;
    padding: 0px;
}

.fc-row.fc-widget-header {
    background: #e5fcff;
    padding: 4px 0px;
}

.addbropdown>a {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.fc td,
.fc th {
    font-size: 14px;
    font-weight: 400;
}

.fc-event {
    overflow: hidden;
}

.btngrp a {
    font-size: 14px;
    /* color: #fff; */
    /* background: #93ebf6; */
}

.fc-widget-header .fc-resource-cell {
    position: relative;
}

.topbuttons {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.actionbuttoncal {
    display: inline-block;
    padding: 6px 9px;
    border-radius: 50%;
    margin: 4px;
    background: #f0f0f0;
    color: #17a2b8 !important;
    cursor: pointer;
}

.viewmaincontainer {
    padding: 10px;
}

.form-group p {
    font-size: 12px;
    margin-bottom: 0;
}

.form-group p b {
    font-weight: 500;
}

.createformone fieldset {
    padding: 8px 10px;

    margin-bottom: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.cancelbtn {
    display: inline-block;
    padding: 6px 10px;
    font-size: 14px;
}

.elftrightbtn {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-end;
}

.eventresource-wrapper .borderedbtn {
    min-width: 80px;
    padding: 4px 6px;
    border: 0px solid #00AEC7;
    margin: 0;
}

.eventresource-wrapper .full-blue-btn-popup {
    display: inline-block;
    width: auto;
    min-width: 1px;
    padding: 6px 10px;
    font-size: 14px;
    color: #fff !important;
}

.datepicker-switch {
    text-align: center;
}

span.month,
span.year {
    display: block;
    width: 23%;
    height: 20px;
    line-height: 20px;
    float: left;
    margin: 1%;
    cursor: pointer;
    border-radius: 4px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.calendernextpreviewbtns button {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 24px;
    background: #fff;

    border: 2px solid #00AEC7 !important;
    /* box-shadow: 0px 2px 10px 0px #eaeaea; */
    color: #00AEC7;
    border: 1px solid transparent;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.calendernextpreviewbtns button:hover {
    background: #cbeef3;
}

.calendernextpreviewbtns label {
    margin-bottom: 0;
}

.calendar-header-one .inputwrap {
    margin-bottom: 0px !important;
}

.viewmaincontainer h4 {
    font-size: 16px;
    font-weight: 600;
}

#upComingEventCalendar div.fc-content {
    width: 100% !important;
    text-overflow: ellipsis;
}

.form-group label {
    font-size: 13px;
}

.form-group a {
    color: #17a2b8 !important;
    text-decoration: underline !important;
    font-weight: 500;
}

.viewmaincontainer {
    font-size: 13px;
}

.bs-tooltip-right::before,
.bs-tooltip-left::before {
    /* background: #e5fcff !important; */
    top: 45% !important;

}

.bs-tooltip-right {
    left: 10px !important;

}

.bs-tooltip-left {
    left: -10px !important;
}

.popoverlist.bs-popover-right::before,
.bs-tooltip-right::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #ffffff;
    position: absolute;
    left: -8px;
    z-index: 0;
    transform: rotate(45deg);
    top: 60px;
    border: 1px solid #ccc;
    border-width: 0px 0px 1px 1px;
}

.while-event-available.popoverlist.bs-popover-right::before,
.bs-tooltip-right::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #ffffff;
    position: absolute;
    left: -8px;
    z-index: 0;
    transform: rotate(45deg);
    top: 40px;
    border: 1px solid #ccc;
    border-width: 0px 0px 1px 1px;
}



.popoverlist.bs-popover-left::before,
.bs-tooltip-left::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #ffffff;
    position: absolute;
    right: -8px;
    z-index: 0;
    transform: rotate(45deg);
    top: 30px;
    border: 1px solid #ccc;
    border-width: 1px 1px 0px 0px;
}

.fc-slats tr:nth-of-type(odd) span {
    font-weight: 700;
}

.fc-slats tr:nth-of-type(even) span {
    font-size: 11px;
}

.fc-bgevent {
    background-color: #908e8e !important;
}

.fc-now-indicator-arrow {
    left: 0;
    width: 34px !important;
    border-top-color: transparent;
    border-bottom-color: transparent;
    height: 10px;
    background: #E26B6B;
    color: #FFF;
    padding: 1px 3px;
    border-radius: 13px;
    width: 38px;
    text-align: center;
    margin-left: 2px;
    opacity: 1;
    border: 0;
    font-size: 9px;
    font-weight: bolder;
}

.fc-now-indicator-arrow span {
    font-size: 12px;
    font-weight: bolder;
    position: absolute;
    margin-right: 10px !important;
}


.top-menu-header-container-calendar,
.top-info-headerwrapper {
    padding: 0px 10px !important;
    margin: auto;
}

.resourcesearchform {
    width: 100%;
    max-width: 300px;
}

.searchcontainer {
    /* display: grid;
    grid-template-columns: 20px 1fr 20px; */
    white-space: nowrap;
    font-size: 14px;
    margin: 0px;
    height: 30px;
    border: 1px solid #D5D9DE;
    background-color: white;
    position: relative;
    align-items: center;
    padding: 0px;
    border-radius: 2px;
    text-align: center;

}

.searchinfo {
    right: 20px;
    top: 6px;
}

.searchicon {
    left: 8px;
    top: 7px;
}

.searchcontainer i,
.searchcontainer a {
    z-index: 1;
    position: absolute;
}

.searchcontainer input {
    font-weight: 400;
    width: 100%;
    border: 0px;
    outline: 0;
    border-radius: 0;
    height: 100%;
    border: 0px;
    font-size: 14px;
    padding: 4px 30px;
}

.searchcontainer input:focus {
    border: 0px;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.top-menu-header-container-calendar .nav-item.activecalnav a.nav-link {
    border-radius: 4px;
    background: #17a2b8;
    color: #fff;
}

.top-menu-header-container-calendar .navbar-nav {
    gap: 6px;
}

.fc-time-grid-event .fc-content {
    display: inline-block;
    z-index: -1;
}

#upComingEventDatepicker {
    width: 100%;
    font-size: 10px;
}

.ui-datepicker-multi {
    width: auto !important;
}

.ui-widget-header {
    border: 1px solid #e5fcff !important;
    background: #e5fcff !important;
}

.ui-widget-content {
    border: 2px solid #e5fcff !important;
}

.ui-datepicker-month,
.ui-datepicker-year {
    border-radius: 0px !important;
}

.ui-autocomplete.ui-widget-content {
    box-shadow: 0px 4px 13px -2px #dcdcdc;
    border-radius: 4px;
    border: 0px;
}

.ui-autocomplete.ui-menu img {
    width: 30px;
    height: 30px;
    border-radius: 24px;
    margin-right: 8px;
}

.ui-autocomplete.ui-widget-content {
    margin: 0;
    padding: 8px;
    border: 0 !important;
    background: #fff;
}

.ui-autocomplete.ui-menu .ui-menu-item {
    list-style: none;
    border: 0;
    margin: 0;
    padding: 4px;
    border-radius: 4px;
    /* transition: .2s; */
}

.ui-autocomplete.ui-menu li span {
    font-size: 14px;
    /* padding:0 0 10px 10px; */
    margin: 0 0 10px 0 !important;
    white-space: nowrap;
}

.ui-autocomplete.ui-menu .ui-menu-item.ui-state-focus {
    background: #e5fcff;
    list-style-image: none;
}


.colorbox-booked {
    background-color: #51c751;
}

.colorbox-confirmed {
    background-color: rgb(153 102 153);
}

.colorbox-arrived {
    background-color: rgb(133 16 83);
}

.colorbox-ongoing {
    background-color: #9c5f33;
}

.colorbox-completed {
    background-color: #9cccdc;
}

.colorbox-cancel {
    background-color: #ff3333;
}

.event-status-new {
    background-color: #51c751;
    border-color: #51c751;
    border-left: 4px solid #476d47;
}

.event-status-confirm {
    background-color: #976597;
    border-color: #976597;
    border-left: 4px solid #543654;
}

.event-status-arrive {
    background-color: #851053;
    border-color: #851053;
    border-left: 4px solid #31071f;
}

.event-status-ongoing {
    background-color: #975c31;
    border-color: #975c31;
    border-left: 4px solid #543117;
}

.event-status-done {
    background-color: #9cccdc;
    border-color: #9cccdc;
    border-left: 4px solid #6f8e98;
}

.event-status-cancel {
    background-color: #fa3133;
    border-color: #fa3133;
    border-left: 4px solid #861d1e;
}


.tooltip-inner {
    background-color: #696c74 !important;
    color: #fff;
    font-size: 12px;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #696c74 !important;
}

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #696c74 !important;
}


.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #696c74 !important;
}


.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #696c74 !important;
}

.timeforflex {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.timeforflex span {
    display: inline-block;
    background: #000;
    border-radius: 50%;
    padding: 6px;
}

.tooltip-header-event {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 18px;
    line-height: 18px;
}

.tooltip-header-event p {
    max-width: 200px;
    /* overflow: hidden;
    text-overflow: ellipsis; */

}

.tooltip-template p {
    margin-bottom: 0px;
}


.greycontainer {
    /*border: 1px solid #ccc;*/
    background: rgb(238, 238, 238);
    padding: 8px 6px;
    border-radius: 6px;
    margin-top: 16px;
}

.greycontainer {
    font-size: 13px;
    display: block;
}

.fc-content {
    width: 85px;
}

.eventCard-Subcategory {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 12px;
    font-weight: bolder;
    color: #2a0400;
    margin-left: 4px;
    background: rgba(0, 0, 0, 0);
}

.eventCard-PartnerName,
.eventCard-RoomName {
    color: #2a0400;
    margin-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.EventCardPaymentStatus {
    margin-top: -2px;
    margin-right: 2px;
}

.timeforflex .EventCardPaymentStatus {
    margin-right: 2px;
    margin-bottom: -2px;
}

.dropdown-header {
    padding-left: 0px;
}

.service-filter-drop-down {
    height: 300px;
    overflow-y: auto !important;
}


.resourcecalendar-header-one-innerrright .btn-group button {
    font-size: 13px;
    text-align: left;
}

.resourcecalendar-header-one-innerrright .btn-group {
    width: auto;
    min-height: 34px;
    position: unset;
    max-height: 34px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    text-align: left;
}

.multi-dropdown-toggle-dep {
    width: auto;
    min-height: 34px;
    position: unset;
    max-height: 34px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    text-align: left;
    background: #fff;
    font-size: 13px;
}

.resourcecalendar-header-one-innerrright .dropdown-toggle::after {
    position: absolute;
    right: 8px;
    top: 13px;
    color: #2aaec7;
}

.resourcecalendar-header-one-innerrright li a {
    font-size: 13px;
    color: #212529;
}

.resourcecalendar-header-one-innerrright ul {
    height: 300px;
    overflow-y: auto !important;
}

.fc-widget-header .fc-resource-cell {
    vertical-align: middle;
}

.fc-widget-header .dropdown-toggle-split {
    width: 15% !important;
}

.fc-widget-header .dropdown-menu.show {
    width: 100%;
    font-size: 13px;
    padding: .25rem 0.5rem !important;
}

.fc-widget-header .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #6be5f5;
    border-color: #6be5f5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 0px;
}

.fc-widget-header .btn-primary {
    padding: 0px;
    width: 85%;
}


.fc-widget-header .btn-group {
    width: -webkit-fill-available;
    height: 40px;
}

.fc-widget-header button.btn.btn-primary {
    font-size: 13px;
    background-color: #e5fcff;
    color: #343a40;
    border: none;
    line-height: 1;
}

.fc-widget-header .dropdown-item {
    padding: .35rem 0.15rem !important;
}

#dropdownMenuButton {
    font-size: 10px;
}

.resourceHeader-label {
    font-size: inherit;
    color: #212529;
    font-weight: bolder;
    width: auto;
}

.resourceHeader-label:hover {
    text-decoration: none;
}

.resourceHeader-label:focus {
    border-radius: 0px;
}

.ui-autocomplete {
    max-height: 300px !important;
    overflow-y: auto;
    width: 487px !important;
    min-height: 50px;
}

.d-none {
    display: none !important;
}

.no-staff-container-content {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

#toolBTN::after {
    position: absolute;
    right: 42px;
    top: 14px;
    color: #2aaec7;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0px !important;
}

.fc-head-container.fc-widget-header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.Book-apt-h4 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.ui-autocomplete#ui-id-2 {
    /* top: 362px !important; */
    top:410px !important;
    left: 11px;
    z-index: 1000;
    width: 326px !important;
}

.box-sec-item {
    display: inline-block;
    height: 25px;
}


.box-client-p {
    color: #666;
    font-weight: bold;
    font-size: 12px;
}

.box-client-input:focus-visible {
    border: none;
    outline: none;
}

.box-client-input:focus {
    border: none;
    outline: none;
    border-color: #fff !important;
    box-shadow: 0 0 0 1px #fff !important;
}

.box-client-input {
    float: right;
    border: none;
    width: 85%;
    font-size: 12px;
    color: #666;
}

.box-client-input a {
    float: right;
    color: #989898 !important;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
}


.box-client-select {
    float: right;
    border: none;
    width: 75%;
    font-size: 12px;
    color: #666;
}

.apt-form {
    margin-bottom: 10px;
}

.apt-form .box-client-p {
    vertical-align: -webkit-baseline-middle;
    width: 60px;
}

#addEventForm p {
    color: #666;
    font-weight: bold;
    font-size: 12px;
}

.rebookpast p {
    color: #ff6a00 !important;
}