.therapy-banner {
    min-height: 740px;
    position: relative;
    background: url('../img/therapybanner.png');
    width: 100%;
    display: flex;
    display: -webkit-box; 
	display: -moz-box;   
	display: -ms-flexbox;  
	display: -webkit-flex; 
    align-items: center;
    padding: 80px;
    background-size: cover;
}

.breadcrum-row {
    position: absolute;
    top: 10px;
    left: 10px;
}

.banner-content {
    width: 50%;
}

section.section.training-academy-section .section-header {
    color: #3a3a3a;
}

.banner-btn {
    display: flex;
    display: -webkit-box; 
	display: -moz-box;   
	display: -ms-flexbox;  
	display: -webkit-flex; 
    justify-content: space-between;
    width: 450px;
}

section.conscious-section {
    padding: 150px 80px;
}

.conscious-content {
    display: flex;
    display: -webkit-box; 
	display: -moz-box;   
	display: -ms-flexbox;  
	display: -webkit-flex; 
    justify-content: space-between;
}

.conscious-img-box img:first-child {
    width: 100%;
}

.conscious-img-content {
    padding: 40px 20px 40px 40px;
    background: #F9F2EA;
    /* width: 45%; */
}

.conscious-img-content h3.header {
    color: #fff;
    font-size: 56px;
    font-weight: 600;
}

.conscious-img-box {
    position: relative;
    width: 350px;
    margin: auto;
}

.conscious-img-box img:nth-child(2) {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    opacity: 0.8;
}

.conscious-info-box {
    /* width: 45%; */
}

.conscious-info-box h3.header {
    font-size: 56px;
    color: #3a3a3a;
    font-weight: 600;
    line-height: 130%;
}

.conscious-info-box .title {
    font-size: 22px;
    font-weight: 600;
    margin: 30px 0 20px 0;
    color: #3a3a3a;
}

.conscious-list {
    font-size: 16px;
    margin-bottom: 6px;
    color: #3a3a3a;
}

.conscious-list span {
    font-weight: 600;
}

.list-img .moving_shape {
    background-color: #00aec7;
    color: #fff;
    width: 72px;
    height: 72px;
    border: 0px;
    box-shadow: none;
}

.list-img>div {
    width: 50%;
    padding-top: 60px;
    font-size: 22px;
    color: #333;
}

.list-img {
    display: flex;
    display: -webkit-box; 
	display: -moz-box;   
	display: -ms-flexbox;  
	display: -webkit-flex; 
    flex-wrap: wrap;
}

.list-img>div span {
    font-weight: 600;
}